*{margin: 0;padding: 0;}

*{box-sizing: border-box;}

body{
  background-color: #F6F5FA
}

.d_flex{
  display: flex;
}

.text-cen{
  text-align: center;
}

.d_flex-justify-aro{
  justify-content: space-around;
}

.d_flex-justify-bet{
  justify-content: space-between;
}

.d_block{
  display: block;
}

ul{
  list-style: none;
}

.position-rel{
  position: relative;
}

.position-so{
  position: absolute;
}

a:link{
  text-decoration: none;
}

.margin-auto{
  margin: 0 auto;
}

.w-10{
  width: 10%;
}

.w-90{
  width: 90%;
}