.text-align-r{
  text-align: right;
}

.index-header{
  background-color: #4F8DFE;
  border-radius: 3px;
}

.index-header a{
  color: #fff;
  font-size: 20px;
}

.index-header ul{
  padding: 10px;
}

.naviga-f-size{
  font-size: 18px
}

.naviga-bg-c{
  background-color: #292D32;
  border-radius: 3px 0 0 3px;
}

.naviga-bg-c a{
    color:#99997E;
}

.naviga-bg-c hr{
  margin: 0
}

.naviga-bg-c p{
  padding: 16px  0px;
}

.naviga-bg-c p:hover{
  background-color: #fff;
}

ul.naviga-f-size p{
  text-align: center;
  line-height: 100%;
}

.naviga-po-so{
  top:0;
  left:16%;
}

.naviga-big-index{
  z-index: 100;
}

.naviga-big-size{
  height: 203.4px;
  width: 500px
}

.naviga-big-bg-c{
  background-color: #fff;
}

.naviga-big-pad{
  padding: 10px
}

ul.breadcrumb{
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.caroul-size{
  width: 100%;
  height: 203.4px;
}

.caroul-size img{
  border-radius: 0 3px 3px 0;
  height: 203.4px;
}

#body div.col-9{
  margin-top: 0.5rem;
}

#body div.col-3 img{
  width: 100%;
  border-radius: 3px;
  margin-top: 0.5rem;
}

#body div.col-3 ul p{
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

#body-l div.d_flex>div{
  width: 30%;
}

#body-l div.d_flex>div img{
  width: 100%;
}

#body-l div.d_flex>div a{
  display: block;
  margin: 1rem 0;
  font-size: 20px;
}

#body-l div.d_flex>div p{
  margin-bottom:0; 
}

#body-l hr{
  margin-top: 0.8rem;
  margin-bottom: 0.7rem;
}

#body-l div.d_flex>div p:last-child{
  text-align: right;
}